<h1 class="welcome">Welcome to Lydia and Seth's Wedding!!!</h1>

<%= image_tag('lydia_and_seth.jpg', alt: "Kiss", id: "weddingKiss") %>

<br />
<br />
<%= link_to 'Enter', events_path, class: "btn btn-default"%>