/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/*************************
fonts
*************************/

@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700|Open+Sans:400,700);


/***********************
styles
***********************/

body {
  font-size: 16px;
  text-align: center;
  background: #F5F5F5;
  font-family: 'Alegreya', serif;
}

a {
  color: #257ebd;
}

a:hover {
  color: #0e324b;
  text-decoration: none;
  font-weight: bold;
}

h1, h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2em;
}

.welcome {
  font-size: 3.5em;
}

#weddingKiss {
  margin: 0 auto;
}

.btn-default {
  margin: 0 auto;
  text-align: center;
  clear: both;
  background: #257ebd;
  color: #F5F5F5;
}

.btn-default:hover {
  background: #0e324b;
  color: #F5F5F5;
}


/************************
  Navbar
*************************/

nav .container-fluid {
  background: #257ebd;
  padding: 12px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #F5F5F5;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover{
  color: #0e324b;
}

#caret {
  display: none;
}




@media screen and (max-width: 768px) {
  .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    font-size: 2em;
    padding-bottom: 15px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #F5F5F5;
    font-size: 1.5em;
    text-align: center;
  }
  #hamburger {
    display: none;
  }
  #caret {
    display: block;  
    font-size: .8em;
  }
}



